body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 0.8em;
}
div {
    padding: 10px;
}
#container {
    width: 500px;
}
h1 {
    font-size: 1.1em;
}
.onoffswitch {
    position: relative;
    width: 120px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Disabled";
    padding-left: 10px;
    background-color: #EEE;
    color: #999;
    text-transform: uppercase;

}
.onoffswitch-inner:after {
    content: "Enabled";
    padding-right: 10px;
    background-color: #DA3743;
    color: #FFF;
    text-align: right;
    text-transform: uppercase;
}
.onoffswitch-switch {
    display: block;
    width: 24px;
    margin: 3px;
    background: #FFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 90px;
    border: 2px solid #999;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 12px;
}